<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>


<body>
    {{>header}}

        <p> ERROR PAGE : 404 : {{errorMessage}}</p>

    {{>footer}}
</body>
</html>