<!DOCTYPE html>

<html>
<head>
     <link rel="stylesheet" href="./css/styles.css">
</head>
<body>



<!-- setting up navigation bar -->
<header>
    <h1>Title is {{title}} </h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">help</a>
</header>


</body>
</html>